*{
    padding:0;
    margin:0;
  }
  
  body {
    background-color: #071e34!important;
  }
  
  .act {
    color: #1dd7a7!important;
  }
  
  .navbar {
    padding: 1rem 0 0!important;
  }
  
  .nav-top {
    color: #ffffff!important;
    font-size: 1.1rem;
  }
  
  .nav {
    color: #456077!important;
  }
  
  .dropdown-menu {
    background-color: #1c3245!important;
  }
  
  .dropdown-item {
    color: #ffffff!important;
  }
  
  .col-auto {
    padding: 15px;
  }
  
  img.square {	
    border-radius: 50%;  
  }
  
  img.panel {
    width: 120px;
    display:block;
    margin: 0 auto;
  }
  
  img.list-pic {
    width: 120px;
  }
  
  img.show {
    margin: 10px;
  }
  
  .card {
    border: 0px;
    background-color: #1c3245!important;
    border-radius: .75rem!important;
    padding: 1.25rem;
  }
  
  .card-inner {
    margin-top: 1.25rem;
  }
  
  .modal-content {
    background-color: #1c3245!important;
    border-radius: 1rem!important;
  }
  
  .modal-title, ul li, .close {
    color: #ffffff!important;
  }
  
  .modal-header, .modal-footer {
    border-top: none!important;
    border-bottom: none!important;
  }
  
  h4.title {
    color: #ffffff;
    font-size: 30px;
  }
  
  h5.card-title {
    color: #ffffff;
    margin-bottom: 4px;
  }
  
  h5.list-title {
    color: #ffffff;
    margin: auto 30px;
  }
  
  ul li{
    list-style-type: none;
    margin-top: 10px;
  }
  
  .list {
    border-bottom: 1.5px solid #1c3245!important;
    padding: 1rem;
  }
  
  .md {
    margin: 3rem 0 2rem 0;
  }
  
  .icon {
    color: #567188;
    margin-right: 10px;
  }
  
  .fa-female {
    font-size: 18px;
    color: #EBBAB9;
  }
  
  .fa-male {
    font-size: 18px;
    color: #698996;
  }
  
  .fa-th, .fa-bars {
    font-size: 20px!important;
    color: #ffffff;
  }
  
  .heart {
    font-size: 20px!important;
    color: #EE7674!important;
    background-color: transparent;
    border: none;
    margin: auto 0;
    text-align: right;
  }
  
  .search-icon {
    font-size: 20px;
    color: #1dd7a7;
    background-color: transparent;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
  }
  
  .form-control {
    background-color: transparent;
    border: none;
  }
  
  .hvr-border-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 4px #1c3245, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }
  .hvr-border-fade:hover {
    box-shadow: inset 0 0 0 5px #1dd7a7, 0 0 1px rgba(0, 0, 0, 0);
    /* Hack to improve aliasing on mobile/tablet devices */
  }
  
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .searchbar {
    float: right;
    background-color: transparent;
    color: #6b778d;
    padding: 8px 10px;
    width: 200px;
    border: none;
    border-bottom: transparent solid 1px;
    transition: 0.6s;
  }
  
  .searchbar:focus {
    width: 200px;
    transition: 0.6s;
    border-bottom: #1dd7a7 solid 1px;
    outline: none;
  }
  
  .page-link {
    color: #ffffff!important;
    background-color: #1c3245!important; 
    border: 1px solid #071e34!important;
  }